* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    background: url('img/LandingPage.png') no-repeat;
    background-size: cover;
    color: white;
}

a {
    color: white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cabeçalho {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

#separa {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-size: larger;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ai-parent {
    width: 90%;
}

#ai-grandchild{
    background-color: #1A1B23;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 1rem;
}

h2{
    font-size: 1rem;
}
