* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  background: url("img/LandingPage.png") no-repeat;
  background-size: cover;
  color: white;
}

a {
  color: white;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cabeçalho {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

#separa {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  font-size: larger;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
}

.collapse-title {
  background-color: #1a1b1b;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

.collapse-content {
  overflow: hidden;
  border-radius: 0.5rem;
  max-height: 0;
  transition: max-height 0.7s ease;
  background-color: #1a1919;
}

.collapse-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0.3rem;
}

.collapse-content ul li a {
  font-weight: bold;
}

.collapse-content.show {
  max-height: 5.4rem;
}

.ai-parent {
  width: 90%;
}

#ai-grandchild {
  background-color: #1a1b23;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.ai-logo {
  width: 3rem;
  height: 3rem;
  border-radius: 0.4rem;
}

h2 {
  font-size: 1rem;
}

.fpp{
  background-color: #18407B;
  padding: 0.3rem;
  border-radius: 1.25rem;
}

.free{
  background-color: #225142;
  padding: 0.3rem 2rem;
  border-radius: 1.25rem;
}

.paid{
  background-color: #4B1B1B;
  padding: 0.3rem 2rem;
  border-radius: 1.25rem;
}

.go-to {
  margin-right: 4rem;
}
