* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}


@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.pulse {
    animation: pulse-animation 2s infinite;
}

body {
    background: url('img/LandingPage.png') no-repeat;
    background-size: cover;
    color: white;
}

a {
    color: white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cabeçalho {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

#separa {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-size: larger;
}

#meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#vm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
}

.smartia {
    width: 80%;
}

#clique {
    margin-top: -1rem;
    font-size: 15px;
}

#links{
    margin: 1rem;
}

.ferramenta {
    margin-top: 2rem;
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 10px;
    font-family: inherit;
    font-size: 2rem;
    padding: 1rem 2em;
}

.ferramenta:hover {
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.seta {
    color: #fff;
}

main {
    padding-top: 15rem;
    text-align: center;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.card-icon {
    width: 6rem;
    border-radius: 50%;
    overflow: hidden;
}

.card-title {
    color: #a8a7a7;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 1rem;
}

.desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #898CA9;
}

.corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #1f446b, #1A1B23);
    border-radius: 0 4px 0 32px;
}

.arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    display: block;
    position: relative;
    width: 90%;
    border-radius: 10px;
    padding: 5rem 2rem;
    margin: 1.2rem;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #333435, #232525);
}

.card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #b1b5b9, #5d5e5f);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}

.card:hover:before {
    transform: scale(28);
}

.card:hover .desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #3d3d3d;
}

#ferr {
    display: flex;
    justify-content: center;
}

#desc-ferr {
    width: 38rem;
    font-size: 1.4rem;
}

.child {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separate {
    padding-top: 4rem;
}

#sep-ferr {
    padding-bottom: 1.3rem;
}

#muie {
    width: 40%;
    object-fit: cover;
}

#time {
    width: 96%;
    height: 26rem;
}

#emp-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#over-emp {
    background-color: #1A1B23;
    opacity: 80%;
    width: 80%;
    border-radius: 1rem;
    margin-top: 10rem;
}

#emp-desc {
    font-size: 1.5rem;
    padding: 4rem 3rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
    padding: 1rem;
}